$poppins:  "Poppins", sans-serif;
$roboto:  "Roboto", sans-serif;
$opensans:  "Open Sans", sans-serif;
$inter:   "Inter", sans-serif;
$toran:  "Toran";
$arial: 'Arial';
$maincolor:#3B236D;
$simplegray:#F4F3EE;
$white: #ffffff;
$black:#000000;