html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  background: #ffffff;
}

button {
  border: none;
  background: none;
}

img {
  width: 100%;
}

.m-r {
  margin-right: 7px;
}

.overly {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0;
  z-index: 9999999999;
  display: none;
}

.login-area {
  background: #ffffff;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99999999999;
  padding: 25px;
  max-width: 500px;
  width: 100%;
  margin: 0 10px;
  display: none;
}
.login-area .login-inner-area h1 {
  font-size: 23px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: #000000;
  text-transform: capitalize;
}
.login-area .login-inner-area form label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
  margin-top: 20px;
}
.login-area .login-inner-area form input {
  width: 100%;
  padding: 8px 20px;
  border: 1px solid #C5C5C5;
  border-radius: 7px;
  margin-top: 10px;
}
.login-area .login-inner-area form button {
  width: 100%;
  padding: 15px 0;
  border-radius: 7px;
  font-size: 16px;
  color: #ffffff;
  background: #3B236D;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  margin-top: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.login-area .login-inner-area form button:hover {
  background: #e60fc2;
}
.login-area .login-inner-area form p {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  color: #17053b;
  font-weight: 400;
  margin-top: 30px;
}
.login-area .login-inner-area form p a {
  color: #176AC1;
  text-decoration: underline;
}
.login-area .login-inner-area form .new-user {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login-area .login-inner-area form .new-user .border-item {
  width: 33%;
  border-top: 2px dashed rgba(142, 141, 141, 0.6117647059);
}
.login-area .login-inner-area form .new-user h2 {
  width: 33%;
  text-transform: capitalize;
  text-align: center;
  color: rgba(142, 141, 141, 0.6117647059);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.login-area .login-inner-area form .create-new-button-area button {
  background: #ffffff;
  border: 1px solid #D3D3D3;
  color: #000000;
  -webkit-box-shadow: 0px 2.05px 2.73px 0px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 2.05px 2.73px 0px rgba(0, 0, 0, 0.42);
}

.header-wrapper {
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 999999;
  background: #ffffff;
}
.header-wrapper header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-wrapper header .navbar .left {
  height: 66px;
  width: 67px;
}
.header-wrapper header .navbar .left a {
  display: block;
}
.header-wrapper header .navbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-wrapper header .navbar .right nav ul li {
  display: inline-block;
  margin-right: 40px;
}
.header-wrapper header .navbar .right nav ul li:last-child {
  margin-right: 0;
}
.header-wrapper header .navbar .right nav ul li a {
  font-size: 16px;
  color: #3B236D;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header-wrapper header .navbar .right nav ul li a:hover::after {
  content: "";
  height: 1px;
  background: #3B236D;
  bottom: -5px;
  left: 0;
  right: 30%;
  position: absolute;
}
.header-wrapper header .navbar .right nav ul li .active::after {
  content: "";
  height: 1px;
  background: #3B236D;
  bottom: -5px;
  left: 0;
  right: 30%;
  position: absolute;
}
.header-wrapper header .navbar .right button {
  background: #3B236D;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 6px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header-wrapper header .navbar .right button:hover {
  background: #17053b;
}
.header-wrapper header .navbar .right .togglebar {
  display: none;
}

.hero-wrapper .hero-area {
  height: 348px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.hero-wrapper .hero-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.rental-item-wrapper {
  padding-bottom: 40px;
}
.rental-item-wrapper .rental-item-main-area {
  background: #F4F3EE;
  padding: 0 25px 40px 25px;
}
.rental-item-wrapper .rental-item-main-area .rental-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}
.rental-item-wrapper .rental-item-main-area .rental-item-header h1 {
  font-family: "Toran";
  font-size: 35px;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
}
.rental-item-wrapper .rental-item-main-area .rental-item-header h1::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #3B236D;
  bottom: -5px;
  left: 0;
  position: absolute;
}
.rental-item-wrapper .rental-item-main-area .rental-item-sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  padding-bottom: 32px;
}
.rental-item-wrapper .rental-item-main-area .rental-item-sub-header .left h1 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  color: #3B236D;
  position: relative;
  display: inline-block;
}
.rental-item-wrapper .rental-item-main-area .rental-item-sub-header .left h1::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #3B236D;
  bottom: -5px;
  left: 0;
  position: absolute;
}
.rental-item-wrapper .rental-item-main-area .rental-item-sub-header .left h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  color: #3B236D;
}
.rental-item-wrapper .rental-item-main-area .rental-item-sub-header .right {
  max-width: 431px;
  width: 100%;
  position: relative;
}
.rental-item-wrapper .rental-item-main-area .rental-item-sub-header .right input {
  width: 100%;
  border: 1px solid #C5C5C5;
  color: #000000;
  padding: 10px 7px 10px 68px;
  font-size: 16px;
}
.rental-item-wrapper .rental-item-main-area .rental-item-sub-header .right input:focus {
  outline: 2px solid #3B236D;
}
.rental-item-wrapper .rental-item-main-area .rental-item-sub-header .right .searchicon {
  color: #C5C5C5;
  font-size: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
}
.rental-item-wrapper .rental-item-main-area .rental-item-sub-header .right p {
  color: #7D7D7D;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 17px;
  text-align: right;
}
.rental-item-wrapper .rental-item-main-area .rental-item-sub-header .right button {
  background: #ffffff;
  padding: 7px 20px;
  color: #3B236D;
  position: absolute;
  top: -35px;
  right: 0;
  border-radius: 7px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  border: 1px solid #3B236D;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.rental-item-wrapper .rental-item-main-area .rental-item-sub-header .right button:hover {
  background: #3B236D;
  color: #ffffff;
}
.rental-item-wrapper .rental-item-main-area .filter-area {
  background: #ffffff;
  padding: 20px 10px 20px 15px;
  margin-right: 20px;
}
.rental-item-wrapper .rental-item-main-area .filter-area .search-area {
  width: 100%;
  position: relative;
}
.rental-item-wrapper .rental-item-main-area .filter-area .search-area input {
  width: 100%;
  border: 1px solid #C5C5C5;
  color: #000000;
  padding: 10px 7px 10px 68px;
  font-size: 16px;
}
.rental-item-wrapper .rental-item-main-area .filter-area .search-area input:focus {
  outline: 2px solid #3B236D;
}
.rental-item-wrapper .rental-item-main-area .filter-area .search-area .searchicon {
  color: #C5C5C5;
  font-size: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item .filter-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  padding-right: 20px;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item .filter-item-header h1 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 31px;
  color: #3B236D;
  position: relative;
  display: inline-block;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item .filter-item-header h1::after {
  content: "";
  height: 2px;
  width: 50%;
  background: #3B236D;
  bottom: -3px;
  left: 0;
  position: absolute;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item .filter-item-header button {
  width: 24px;
  height: 24px;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item ul {
  margin-top: 20px;
  padding-right: 10px;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item ul li {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item ul li span {
  border: 1px solid #969696;
  height: 13px;
  width: 13px;
  display: block;
  float: left;
  margin-right: 10px;
  padding-left: 1px;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item ul li span .checked {
  font-size: 10px;
  margin-bottom: 1px;
  display: none;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item ul li ul li {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 0;
  text-transform: capitalize;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item ul li ul li:last-child {
  color: #8F8F8F;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item ul li ul li span {
  display: block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #FFC635;
  float: left;
  margin-right: 10px;
  margin-top: -6px;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item ul li:nth-child(2) ul li span {
  background: #65E139;
}
.rental-item-wrapper .rental-item-main-area .filter-area .filter-item ul .filter-item-checkbox {
  cursor: pointer;
}
.rental-item-wrapper .rental-item-main-area .rental-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
  padding: 0 0 25px 0;
}
.rental-item-wrapper .rental-item-main-area .rental-category .item {
  width: 30%;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.rental-item-wrapper .rental-item-main-area .rental-category .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.rental-item-wrapper .rental-item-main-area .rental-category .item .item-name {
  position: absolute;
  bottom: 22px;
  left: 27px;
  z-index: 1;
}
.rental-item-wrapper .rental-item-main-area .rental-category .item .item-name h1 {
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  color: #ffffff;
  font-weight: 400;
  text-transform: capitalize;
}
.rental-item-wrapper .rental-item-main-area .rental-category .item .item-name h1 .checkmark {
  display: none;
}
.rental-item-wrapper .rental-item-main-area .rental-category .search-results-item {
  width: 32%;
}
.rental-item-wrapper .rental-item-main-area .rental-category .search-results-item .images {
  height: 172px;
  width: 100%;
  position: relative;
}
.rental-item-wrapper .rental-item-main-area .rental-category .search-results-item .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.rental-item-wrapper .rental-item-main-area .rental-category .search-results-item h2 {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 10px;
}
.rental-item-wrapper .rental-item-main-area .rental-category .search-results-item button {
  color: #3B236D;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: 1px solid #3B236D;
  padding: 3px 7px;
  border-radius: 3px;
  margin-top: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.rental-item-wrapper .rental-item-main-area .rental-category .search-results-item button:hover {
  background: #3B236D;
  color: #ffffff;
}
.rental-item-wrapper .rental-item-main-area .showmorebutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rental-item-wrapper .rental-item-main-area .showmorebutton button {
  font-size: 21px;
  font-family: "Toran";
  font-weight: 400;
  text-transform: capitalize;
  color: #3B236D;
  position: relative;
}
.rental-item-wrapper .rental-item-main-area .showmorebutton button::after {
  content: " ";
  height: 1px;
  width: 30px;
  background: #3B236D;
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.rental-item-wrapper .rental-item-main-area .showmorebutton button::before {
  content: " ";
  height: 1px;
  width: 30px;
  background: #3B236D;
  position: absolute;
  right: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 992px) {
  .header-wrapper header {
    position: relative;
  }
  .header-wrapper header .navbar .right nav {
    background: #ffffff;
    position: absolute;
    top: 100%;
    left: -200%;
    padding: 40px 50px;
    z-index: 99999;
  }
  .header-wrapper header .navbar .right nav ul li {
    display: block;
    margin-bottom: 20px;
  }
  .header-wrapper header .navbar .right .togglebar {
    display: block;
    font-size: 26px;
    color: #3B236D;
    font-weight: 900;
    cursor: pointer;
    width: 30px;
  }
  .header-wrapper header .navbar .right .togglebar .close {
    display: none;
  }
  .rental-item-wrapper .rental-item-main-area .rental-category .item {
    width: 47%;
  }
  .rental-item-wrapper .rental-item-main-area .rental-category .search-results-item {
    width: 47%;
  }
}
@media screen and (max-width: 768px) {
  .rental-item-wrapper .rental-item-main-area .rental-item-sub-header {
    position: relative;
  }
  .rental-item-wrapper .rental-item-main-area .rental-item-sub-header .numberofitem {
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    bottom: 10px;
    right: 0px;
  }
  .rental-item-wrapper .rental-item-main-area .rental-item-sub-header .numberofitem button {
    display: block !important;
  }
  .rental-item-wrapper .rental-item-main-area .rental-item-sub-header .numberofitem p {
    margin-top: 5px;
  }
  .rental-item-wrapper .rental-item-main-area .rental-category .item .item-name h1 {
    font-size: 16px;
  }
  .rental-item-wrapper .rental-item-main-area .rental-category .search-results-item {
    width: 48%;
  }
  .rental-item-wrapper .rental-item-main-area .filter-popup {
    display: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 576px) {
  .rental-item-wrapper .rental-item-main-area .filter-area {
    margin-right: 0;
  }
  .rental-item-wrapper .rental-item-main-area .filter-area .search-area input {
    padding-left: 30px;
  }
  .rental-item-wrapper .rental-item-main-area .filter-area .search-area .searchicon {
    left: 5px;
  }
  .rental-item-wrapper .rental-item-main-area .rental-category .item {
    width: 100%;
  }
  .rental-item-wrapper .rental-item-main-area .rental-category .item .item-name h1 {
    font-size: 25px;
  }
  .rental-item-wrapper .rental-item-main-area .rental-category .search-results-item {
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .rental-item-wrapper .rental-item-main-area .rental-item-sub-header {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .custom-col {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 auto !important;
            flex: 0 0 auto !important;
    width: 100% !important;
  }
  .m-t {
    margin-top: 20px !important;
  }
}
.header-wrapper h1 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #3B236D;
  text-transform: capitalize;
}

.bill-wrapper .bill-area {
  background: #F5F5F5;
  padding: 40px 15px 40px 40px;
}
.bill-wrapper .bill-area .bill-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  margin-bottom: 30px;
}
.bill-wrapper .bill-area .bill-header .header-item {
  width: 24%;
}
.bill-wrapper .bill-area .bill-header .header-item .booking-input-item h1 {
  color: #344054;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.bill-wrapper .bill-area .bill-header .header-item .booking-input-item input {
  border-radius: 8px;
  padding: 12px 20px;
  height: 50px;
  border: 1px solid #D0D5DD;
  color: #667085;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 100%;
}
.bill-wrapper .bill-area .bill-header .header-item .booking-input-item .date-input-area {
  position: relative;
}
.bill-wrapper .bill-area .bill-header .header-item .booking-input-item .date-input-area input {
  border-radius: 8px;
  padding: 12px 20px;
  height: 50px;
  border: 1px solid #D0D5DD;
  color: #667085;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 100%;
}
.bill-wrapper .bill-area .bill-header .header-item .booking-input-item .date-input-area .calenderIcon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 8px;
  color: #000000;
  font-size: 20px;
}
.bill-wrapper .bill-area .bill-header .header-item .booking-input-item .date-input-area .anglearrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 8px;
  color: #000000;
  font-size: 20px;
}
.bill-wrapper .bill-area .bill-header .header-item .booking-input-item .date-input-area .select-item-area {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.bill-wrapper .bill-area .bill-header .header-item .booking-input-item .date-input-area .select-item-area ul li {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: capitalize;
  cursor: pointer;
}
.bill-wrapper .bill-area .bill-header .header-item .booking-input-item .date-picker {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  color: #000000;
  z-index: 1;
}
.bill-wrapper .bill-area .bill-header .header-item .booking-input-item .date-picker button {
  background: #3B236D;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 6px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-top: 15px;
}
.bill-wrapper .bill-area .bill-header .header-item .booking-input-item .date-picker button:hover {
  background: #17053b;
}
.bill-wrapper .bill-area .allcategoryarea .categaoryselect-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bill-wrapper .bill-area .allcategoryarea .categaoryselect-header h1 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #3B236D;
  line-height: 31px;
  margin-top: 40px;
  text-transform: capitalize;
}
.bill-wrapper .bill-area .allcategoryarea .categaoryselect-header .select-category-button {
  background: #3B236D;
  padding: 7px 10px;
  color: #ffffff;
  border-radius: 6px;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
}
.bill-wrapper .bill-area .allcategoryarea .categaoryselect-header .select-category-button:hover {
  background: #e006ce;
}
.bill-wrapper .bill-area .allcategoryarea .category-select-item {
  margin-top: 64px;
  border: 2px solid #D5D5D5;
  padding: 20px 10px;
}
.bill-wrapper .bill-area .allcategoryarea .category-select-item h1 {
  font-family: "Roboto", sans-serif;
  color: #424242;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 30px;
}
.bill-wrapper .bill-area .allcategoryarea .category-select-item .category-items {
  background: #ffffff;
  height: 30px;
  padding-left: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}
.bill-wrapper .bill-area .allcategoryarea .category-select-item .category-items h1 {
  font-family: "Arial";
  font-size: 12px;
  color: #424242;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.bill-wrapper .bill-area .allcategoryarea .category-select-item .category-items h1 .checkthisitem {
  display: none;
}
.bill-wrapper .bill-area .eventtimetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  margin-top: 20px;
}
.bill-wrapper .bill-area .eventtimetable .itemtableitem h1 {
  font-family: "Inter", sans-serif;
  color: #344054;
  font-size: 15px;
  line-height: 21px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.bill-wrapper .bill-area .eventtimetable .itemtableitem .settime {
  background: #ffffff;
  border-radius: 7px;
  padding: 5px 20px;
  color: #454545;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.bill-wrapper .bill-area .eventtimetable .itemtableitem .settime ul li {
  margin-bottom: 4px;
  cursor: pointer;
}
.bill-wrapper .bill-area .eventtimetable .itemtableitem .settime ul li:last-child {
  margin-bottom: 0;
}
.bill-wrapper .bill-area .eventtimetable .itemtableitem .settime ul li:nth-child(2) {
  margin-left: -3px;
}
.bill-wrapper .bill-area .eventtimetable .itemtableitem .settime span {
  cursor: pointer;
}
.bill-wrapper .bill-area .main-bill {
  margin-top: 30px;
  border: 2px solid #D5D5D5;
  padding: 20px 10px;
}
.bill-wrapper .bill-area .main-bill h1 {
  font-family: "Roboto", sans-serif;
  color: #424242;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 30px;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 10px;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-names {
  width: 100%;
  position: relative;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-name {
  background: #ffffff;
  height: 35px;
  padding-left: 10px;
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 1px solid #D5D5D5;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-name h1 {
  font-family: "Arial";
  font-size: 12px;
  color: #424242;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-name button {
  color: #667085;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-name .select-item-name {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-name .select-item-name ul li {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: capitalize;
  cursor: pointer;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-quantity-header {
  width: 60px;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-quantity-header span {
  color: #424242;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: italic;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .hair-days-header {
  width: 60px;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .hair-days-header span {
  color: #424242;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: italic;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-quantity {
  width: 60px;
  background: #ffffff;
  height: 35px;
  padding: 5px;
  border: 1px solid #D5D5D5;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-quantity ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-quantity ul li {
  display: inline-block;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-quantity ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-quantity ul li ul li {
  display: block;
  color: #667085;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .bill-item-quantity ul li ul li:first-child {
  margin-bottom: -8px;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .hair-days {
  width: 60px;
  background: #ffffff;
  height: 35px;
  padding: 5px;
  border: 1px solid #D5D5D5;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .hair-days ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .hair-days ul li {
  display: inline-block;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .hair-days ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .hair-days ul li ul li {
  display: block;
  color: #667085;
}
.bill-wrapper .bill-area .main-bill .bill-item-and-quantity-selector .hair-days ul li ul li:first-child {
  margin-bottom: -8px;
}
.bill-wrapper .bill-area .main-bill .total-item-counter {
  background: #ffffff;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 10px;
}
.bill-wrapper .bill-area .main-bill .total-item-counter span {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.bill-wrapper .bill-area .main-bill .total-item-counter span:first-child {
  font-style: italic;
  color: #424242;
}
.bill-wrapper .bill-area .main-bill .total-item-counter span:last-child {
  color: #E31E24;
}
.bill-wrapper .bill-area .main-bill .get-quotation {
  height: 35px;
  margin-top: 20px;
}
.bill-wrapper .bill-area .main-bill .get-quotation button {
  width: 100%;
  height: 100%;
  background: #3B236D;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.bill-wrapper .bill-area .main-bill .final-price-showing-area .price-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 46px;
}
.bill-wrapper .bill-area .main-bill .final-price-showing-area .price-header .left h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #424242;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.bill-wrapper .bill-area .main-bill .final-price-showing-area .price-header .left p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #424242;
  font-style: italic;
}
.bill-wrapper .bill-area .main-bill .final-price-showing-area .price-header .right {
  font-size: 28px;
  color: #424242;
  text-align: right;
}
.bill-wrapper .bill-area .main-bill .final-price-showing-area .final-price-with-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  height: 35px;
  padding: 0 15px;
  margin-bottom: 10px;
}
.bill-wrapper .bill-area .main-bill .final-price-showing-area .final-price-with-quantity .left ul li {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.bill-wrapper .bill-area .main-bill .final-price-showing-area .final-price-with-quantity .left ul li:first-child {
  color: #3B236D;
  margin-right: 15px;
}
.bill-wrapper .bill-area .main-bill .final-price-showing-area .final-price-with-quantity .left ul li:last-child {
  color: #000000;
}
.bill-wrapper .bill-area .main-bill .final-price-showing-area .final-price-with-quantity .right ul li {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.bill-wrapper .bill-area .main-bill .final-price-showing-area .final-price-with-quantity .right ul li:first-child {
  color: #3B236D;
  margin-right: 15px;
}
.bill-wrapper .bill-area .main-bill .final-price-showing-area .final-price-with-quantity .right ul li:last-child {
  color: #E31E24;
}

@media screen and (max-width: 992px) {
  .bill-wrapper .bill-area {
    padding-left: 15px;
  }
  .bill-wrapper .bill-area .bill-header .header-item {
    width: 48%;
  }
  .bill-wrapper .bill-area .allcategoryarea .categaoryselect-header {
    padding: 30px 0;
  }
  .bill-wrapper .bill-area .allcategoryarea .categaoryselect-header h1 {
    margin-top: 0;
  }
  .bill-wrapper .bill-area .allcategoryarea .categaoryselect-header .select-category-button {
    display: block;
  }
  .bill-wrapper .bill-area .allcategoryarea .category-select-item {
    margin-top: 20px;
    display: none;
  }
  .bill-wrapper .bill-area .allcategoryarea .category-select-item .category-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bill-wrapper .bill-area .allcategoryarea .category-select-item .category-items h1 {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .header-wrapper .navbar h1 {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .bill-wrapper .bill-area .bill-header .header-item {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */