@import'../utils/mixins';
@import'../utils/variables';

.header-wrapper {
    h1 {
        font-size: 18px;
        font-family: $inter;
        font-weight: 400;
        color: $maincolor;
        text-transform: capitalize;
    }
}

.bill-wrapper {
    .bill-area {
        background: #F5F5F5;
        padding: 40px 15px 40px 40px;

        .bill-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 20px;
            margin-bottom: 30px;
            .header-item {
                width: 24%;

                .booking-input-item {

                    h1 {
                        color: #344054;
                        font-family: $inter;
                        font-size: 14px;
                        font-weight: 500;
                        margin-bottom: 10px
                    }

                    input {
                        border-radius: 8px;
                        padding: 12px 20px;
                        height: 50px;
                        border: 1px solid #D0D5DD;
                        color: #667085;
                        font-family: "Inter", sans-serif;
                        font-size: 16px;
                        width: 100%;

                    }

                    .date-input-area {
                        position: relative;

                        input {
                            border-radius: 8px;
                            padding: 12px 20px;
                            height: 50px;
                            border: 1px solid #D0D5DD;
                            color: #667085;
                            font-family: "Inter", sans-serif;
                            font-size: 16px;
                            width: 100%;
                        }

                        .calenderIcon {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 8px;
                            color: $black;
                            font-size: 20px;
                        }

                        .anglearrow {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 8px;
                            color: $black;
                            font-size: 20px;
                        }

                        .select-item-area {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            display: none;
                            background: $white;
                            padding: 20px;
                            border-radius: 8px;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                           
                            z-index: 1;
                            ul{
                                li{
                                    font-family: $inter;
                                    color: $black;
                                    font-size: 16px;
                                    margin-bottom: 10px;
                                    text-transform: capitalize;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .date-picker {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        display: none;
                        background: $white;
                        padding: 20px;
                        border-radius: 8px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        font-family: $inter;
                        color: $black;
                        z-index: 1;

                        button {
                            background: $maincolor;
                            padding: 10px;
                            font-size: 16px;
                            color: $white;
                            font-family: $inter;
                            font-weight: 400;
                            border-radius: 6px;
                            transition: .3s ease;
                            margin-top: 15px;

                            &:hover {
                                background: #17053b;
                            }
                        }
                    }

                }
            }
        }
        .allcategoryarea {
            h1{
                font-size: 25px;
                font-family: $roboto;
                font-weight: 600;
                color: $maincolor;
                line-height: 31px;
                margin-top: 40px;
                text-transform: capitalize;
                
            }
            .select-category-button{
                background: $maincolor;
                padding: 7px 10px;
                color: $white;
                border-radius: 6px;
                text-transform: capitalize;
                transition: .5s;
                display: none;
                &:hover{
                    background: #e006ce;
                }
            }
            .category-select-item{
                margin-top: 30px;
                border: 2px solid #D5D5D5;
                padding: 20px 10px;
                h1{
                    font-family: $roboto;
                    color: #424242;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 14px;
                    margin-top: 0;
                    margin-left: 30px;
                    margin-bottom: 30px;
                }
                .category-items{
                    background: $white;
                    height: 30px;
                    padding-left: 30px;
                    cursor: pointer;
                    margin-bottom: 10px;
                    h1{
                        font-family: $arial;
                        font-size: 12px;
                        color: #424242;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin-top: 0;
                        margin-bottom: 0;
                        .checkthisitem{
                            display: none;
                        }
                    }
                }
            }
        }
        .eventtimetable{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .itemtableitem{
                h1{
                    font-family: $inter;
                    color: #344054;
                    font-size: 15px;
                    line-height: 21px;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                }
                .settime{
                    background: $white;
                    border-radius: 7px;
                    padding: 5px 20px;
                    color: #454545;
                    font-size: 12px;
                    font-family: $inter;
                    font-weight: 400;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-transform: uppercase;
                    column-gap: 15px;
                    ul{
                        li{
                           margin-bottom: 4px;
                           cursor: pointer;
                           &:last-child{
                            margin-bottom: 0;
                        }
                           &:nth-child(2){
                            margin-left: -3px;
                        }
                        }
                    }
                    span{
                        cursor: pointer;
                    }
                   
                }
            }
        }
        .main-bill{
            margin-top: 30px;
                border: 2px solid #D5D5D5;
                padding: 20px 10px;
                h1{
                    font-family: $roboto;
                    color: #424242;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 14px; 
                    margin-bottom: 30px;
                }
                .bill-item-and-quantity-selector{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: 10px;
                    margin-bottom: 10px;
                    .bill-item-names{
                        width: 100%;
                        position: relative;
                    }
                    .bill-item-name{
                        background: $white;
                        height: 35px;
                        padding-left: 10px;
                        cursor: pointer;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        border: 1px solid #D5D5D5;
                        
                        h1{
                            font-family: $arial;
                            font-size: 12px;
                            color: #424242;
                            font-weight: 400;
                            text-transform: uppercase;
                            margin-top: 0;
                            margin-bottom: 0;
                           
                        }
                        button{
                            color: #667085;
                        }
                        .select-item-name{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            display: none;
                            background: $white;
                            padding: 20px;
                            border-radius: 8px;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            z-index: 1;
                            ul{
                                li{
                                    font-family: $inter;
                                    color: $black;
                                    font-size: 16px;
                                    margin-bottom: 10px;
                                    text-transform: capitalize;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    .bill-item-quantity-header{
                        width: 46px;
                       
                        height: 30px;
                        span{
                            color: #424242;
                            font-family: $roboto;
                            font-size: 13px;
                            font-style: italic;
                        }
                    }
                    .hair-days-header{
                        width: 46px;
                      
                        height: 30px;
                        span{
                            color: #424242;
                            font-family: $roboto;
                            font-size: 13px;
                            font-style: italic;
                        }
                    }
                    .bill-item-quantity{
                        width: 60px;
                        background: $white;
                        height: 35px;
                        padding: 5px;
                          border: 1px solid #D5D5D5;
                        ul{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            li{
                                display: inline-block;
                                ul{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                    li{
                                        display: block;
                                          color: #667085;
                                        &:first-child{
                                            margin-bottom: -8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .hair-days{
                        width: 60px;
                        background: $white;
                        height: 35px;
                        padding: 5px;
                          border: 1px solid #D5D5D5;
                         ul{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            li{
                                display: inline-block;
                                ul{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                    li{
                                        display: block;
                                        color: #667085;
                                        &:first-child{
                                            margin-bottom: -8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .total-item-counter{
                    background: $white;
                    height: 35px;
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 30px;
                    span{
                        font-size: 14px;
                        font-family: $roboto;
                        font-weight: 400;
                        &:first-child{
                            font-style: italic;
                            color: #424242;
                        }
                        &:last-child{
                            color: #E31E24;
                        }
                    }
                }
                .final-price-showing-area{
                    .price-header{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 46px;
                        .left{
                            h1{
                                font-family: $roboto;
                                font-weight: 700;
                                font-size: 14px;
                                color: #424242;
                                text-transform: uppercase;
                                margin-bottom: 10px;
                            }
                            p{
                                font-family: $roboto;
                                font-weight: 500;
                                font-size: 14px;
                                color: #424242;
                                font-style: italic;
                            }
                        }
                        .right{
                            font-size: 28px;
                            color: #424242;
                            text-align: right;
                        }
                    }
                    .final-price-with-quantity{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background: $white;
                        height: 35px;
                        padding: 0 15px;
                        margin-bottom: 10px;
                        .left{
                            ul{
                                li{
                                    display: inline-block;
                                    font-family: $inter;
                                    font-size: 12px;
                                    font-weight: 400;
                                    &:first-child{
                                        color: $maincolor;
                                        margin-right: 15px;
                                    }
                                    &:last-child{
                                        color: $black;
                                    }
                                }
                            }
                        }
                        .right{
                            ul{
                                li{
                                    display: inline-block;
                                    font-family: $inter;
                                    font-size: 12px;
                                    font-weight: 400;
                                    &:first-child{
                                        color: $maincolor;
                                        margin-right: 15px;
                                    }
                                    &:last-child{
                                        color: #E31E24;
                                    }
                                }
                            }
                        }
                    }
                }
        }
    }

}
@media screen and (max-width: 992px) {
    .bill-wrapper{
       .bill-area{
        .bill-header{
            .header-item{
                width: 48%;
            }
        }
       } 
    }
}
@media screen and (max-width: 768px) {
  .header-wrapper{
    .navbar{
        h1{
            font-size: 15px;
        }
    }
  }
}
@media screen and (max-width: 576px) {
    .bill-wrapper{
       .bill-area{
        .bill-header{
            .header-item{
                width: 100%;
            }
        }
       } 
    }
}