@import'../utils/mixins';
@import'../utils/variables';


.checkout-full-wrapper {
    .checkout-main-area {
        background: #F6F6F6;
        padding: 74px 30px 60px 30px;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-family: $toran;
                font-size: 35px;
                font-weight: 400;
                text-transform: capitalize;
                display: inline-block;
                position: relative;
                margin-bottom: 30px;
                color: $maincolor;

                &::after {
                    content: '';
                    height: 1px;
                    background: $maincolor;
                    bottom: -5px;
                    left: 30px;
                    right: 30px;
                    position: absolute;

                }
            }
        }

        .payment-details-area {
            background: $white;
            padding: 35px;

            h1 {
                font-size: 24px;
                font-family: $inter;
                font-weight: 600;
                color: $maincolor;
                margin-bottom: 30px;
            }

            .add-payment-mathod {
                .mathod-item {
                    font-family: $inter;
                    font-size: 16px;
                    color: #1b1b1b;
                    font-weight: 400;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px;
                    height: 40px;
                    border: 1px solid #b4b4b4;
                    width: 100%;
                    border-radius: 8px;
                    text-transform: capitalize;
                    position: relative;
                    margin-bottom: 20px;
                    cursor: pointer;

                    .bypayment-area {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        font-family: $inter;
                        font-size: 16px;
                        color: #1b1b1b;
                        font-weight: 400;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px;
                        border: 1px solid #b4b4b4;
                        width: 100%;
                        border-radius: 8px;
                        text-transform: capitalize;
                        margin-top: 10px;
                        display: none;
                        background: $white;
                        z-index: 1;

                        ul {
                            width: 100%;

                            li {
                                width: 100%;
                                height: 35px;
                                margin-bottom: 10px;
                                background: #F6F6F6;
                                padding: 10px 30px;
                                cursor: pointer;
                                transition: .3s;

                                &:hover {
                                    background: $maincolor;
                                    color: $white;
                                }
                            }
                        }
                    }
                }

                .card-details {
                    border: 1px solid #b4b4b4;
                    width: 100%;
                    padding: 15px;
                    border-radius: 8px;
                    display: none;

                    h4 {
                        font-family: $inter;
                        font-size: 16px;
                        color: #1b1b1b;
                        font-weight: 400;
                        margin-bottom: 10px;
                    }

                    .card-item {
                        label {
                            font-family: $inter;
                            font-size: 14px;
                            color: #1b1b1b;
                            font-weight: 400;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 15px;
                            height: 40px;
                            border: 1px solid #b4b4b4;
                            width: 100%;
                            border-radius: 8px;
                            margin-bottom: 10px;

                            img {
                                width: 34px;
                            }
                        }
                    }
                }

                .addmorecards {
                    margin-top: 20px;

                    button {
                        font-family: $inter;
                        font-size: 14px;
                        color: #1b1b1b;
                        font-weight: 400;

                        .plusicon {
                            font-weight: 900;
                            font-size: 20px;
                            margin-right: 10px;
                            color: #408BFC;
                            margin-bottom: -3px;
                        }
                    }
                }
            }

            .addnewmathod {
                border: 1px solid #b4b4b4;
                width: 100%;
                margin-top: 20px;
                border-radius: 8px;
                overflow: hidden;

                button {
                    padding: 15px 30px;
                    width: 100%;
                    font-family: $inter;
                    font-size: 14px;
                    color: #1b1b1b;
                    font-weight: 400;

                    .plusicon {
                        font-weight: 900;
                        font-size: 20px;
                        margin-right: 10px;
                        color: #408BFC;
                        margin-bottom: -3px;
                    }
                }
            }

            .payment-details{
                border: 1px solid #b4b4b4;
                padding: 10px;
                h5{
                    font-size: 16px;
                    font-family: $inter;
                    font-weight: 600;
                    color: #696969;
                    position: relative;
                    margin-bottom: 40px;
                    &::after{
                        content: ' ';
                        height: 1px;
                        width: 100%;
                        background: #696969;
                        bottom: -7px;
                        left: 0;
                        position: absolute;
                    }
                }
                .item-wise-price-area{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: column;
                    ul{
                        width: 100%;
                        li{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 50px;
                            border-bottom: 1px solid #E7E9EB;
                            &:last-child{
                                border-bottom: none;
                            }
                            span{
                                font-family: $inter;
                                font-size: 16px;
                                font-weight: 400;
                                color: #696969;
                            }
                        }
                    }
                    .total-price-area{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        border-top: 1px solid #696969;
                        padding-top: 10px;
                        padding-bottom: 20px;
                        margin-top: 40px;
                        span{
                            font-family: $inter;
                            font-weight: 700;
                            font-size: 19px;
                            color:#FF3939 ;
                            &:last-child{
                                color: #696969;
                            }
                        }
                    }
                }
               
            }
        }
    }

}